header {

    width: 100%;
    background: $header-bg;
    border-bottom: white solid 3px;
    min-height: 100px;
    color: $header-col;

    h1 {
        text-align: center;
        margin-bottom: 20px;
        padding: 10px 0;
    }

    .main_nav {
        width: 100%;
        text-align: center;

        li {
            display: inline-block;
            margin-right: 8px;

            a {
                color: $nav-col;
                text-decoration: none;
                &:hover {
                    color: $nav-col-hover;
                }
            }

            .selected {
                font-weight: bold;
                color: $nav-col-hover;
                text-decoration: none;
            }
        
        }
    }
}