

* {
    padding: 0;
    margin: 0;
}

body {
    background: $body-bg;
    font-family: $font_mn;
    
    main {
        width: 100%;
    }
    
    h2 {
        margin: 20px 20px;
    }
   
    h3 {
        margin: 10px 0;
    }
    
    section {

        width: 90%;
        display: block;
        margin: 10px auto;
        padding: 0 10px;     

        p {
            font-size: 12px;
            line-break: 1.9;
            line-height: 1.9;
            margin-top: 15px;
        }

        article {

            @media(max-width: $md) {
                display: flex;
                flex-direction: column-reverse;
            }

            .main_content {
                display: inline-block;
                vertical-align: top;
                width: 63%;

                @media(max-width: $md) {
                    width: 90%;
                }
            }

            .sub_content {
                width: 30%;
                display: inline-block;
                margin: 0 auto;

                @media(max-width: $md) {
                    width: 90%;
                }

                img {
                    @media(max-width: $md) {
                        display: block;
                        margin: 0 auto;
                        width: 50%;
                    }
                }
            }
        }
    }
    
}


footer {
    p {
        text-align: center;
    }
}