* {
    padding: 0;
    margin: 0;
}

body {
    background: darkgray;
    
    main {
        width: 100%;
    }

    .main_nav {
        .selected {
            font-weight: bold;
            color: red;
        }
    }
    
}


footer {
    p {
        text-align: center;
    }
}