footer {
    margin-top: 27px;

    p {
        text-align: center;

        a {
            color: red;
            color: #950808;
            font-size: 11px;

            &:hover {
                text-decoration: none;
            }
        }
    }
}